ul {
  list-style: none;
}

.container {
  text-align: center;
  margin-top: 40px;
  position: relative;
  display: flex;
  left: 380px;
}

.users-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.user {
  display: flex;
  margin: 10px;
  width: 30%;
}

.list-group form {
  display: flex;
  align-items: center;
}

.list-group input {
  margin: 10px 0 0 ;
}

.list-group-item:hover {
  cursor: pointer;
}

.post-header{
  font-size: 28px;
  color: #fff;
}

.post-item {
  font-size: 20px;
}

.comment {
  font-size: 18px;
  font-weight: 500;
}

.back-button {
  position: absolute;
  top: 0;
  left: 0;
}

.cat {
  width: 100%;
}

.spinner {
  width: 100px;
  height: 32px;
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  display: none;
}
.main-card{
  background-color: rgb(179, 196, 211);
  width: 300px;
  height: auto;
border: 1px solid rgb(129, 124, 124);
}
form{
  margin-top: 20%;
  margin-left: 32%;
}
input{
  width: 600px;
  height: 50px;
}
button{
  -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    margin-left: 2%;
    height: 50px;
}

button:hover {
    background-color: #555555; /* Green */
    color: white;
}

@media only screen and (max-width: 600px) {
  input{
    width: 200px;
  }
  form{
    margin-left: 12%;
  }
  .container{
   left: 32px;
  }
}